/*************************
 * Font selection
*************************/

.workspace {{
  font-family: MesloLGS Nerd Font;
}}

.markdown-preview-view {{
  font-family: MesloLGS Nerd Font !important;
}}

/*************************
 * workspace
*************************/

.workspace {{
  color: {color6} !important;
  background-color: {background} !important;
}}

.workspace-tabs {{
  color: {color6} !important;
  background-color: {background} !important;
}}

.workspace-tab-header {{
  color: {color6} !important;
  background-color: {background} !important;
}}

.workspace-tab-header-inner {{
  color: {color2} !important;
}}

.workspace-leaf {{
  color: {color6} !important;
  background-color: {background} !important;
}}

/*************************
 * View header
*************************/

.view-header {{
  background-color: {background} !important;
  color: {color6} !important;
  border-bottom: 1px solid {color1};
}}

.view-header-title {{
  color: {color6} !important;
}}

.view-header-title-container:after {{
  background: none !important;
}}

.view-content {{
  background-color: {background} !important;
  color: {color6} !important;
}}

.view-action {{
  color: {color6} !important;
}}

/*************************
 * Nav folder
*************************/

.nav-folder-title, .nav-file-title {{
  background-color: {background} !important;
  color: {color6} !important;
}}

.nav-action-button {{
  color: {color6} !important;
}}

/*************************
 * Markdown headers
*************************/

.cm-header-1, .markdown-preview-view h1 {{
  color: {color10};
}}

.cm-header-2, .markdown-preview-view h2 {{
  color: {color11};
}}

.cm-header-3, .markdown-preview-view h3 {{
  color: {color12};
}}

.cm-header-4, .markdown-preview-view h4 {{
  color: {color13};
}}

.cm-header-5, .markdown-preview-view h5 {{
  color: {color14};
}}

.cm-header-6, .markdown-preview-view h6 {{
  color: {color14};
}}

/*************************
 * Markdown strong and emphasis
*************************/

.cm-em, .markdown-preview-view em {{
  color: {color13};
}}

.cm-strong, .markdown-preview-view strong {{
  color: {color9};
}}

/*************************
 * Markdown links
*************************/

.cm-link, .markdown-preview-view a {{
  color: {color12} !important;
}}

.cm-formatting-link,.cm-url {{
  color: {color3} !important;
}}

/*************************
 * Quotes
*************************/

.cm-quote, .markdown-preview-view blockquote {{
  color: {color13} !important;
}}

/*************************
 * Code blocks
*************************/

.HyperMD-codeblock, .markdown-preview-view pre {{
  color: {color7} !important;
  background-color: {color1} !important;
}}

.cm-inline-code, .markdown-preview-view code {{
  color: {color7} !important;
  background-color: {color1} !important;
}}

/*************************
 * Cursor
*************************/

.CodeMirror-cursors {{
  color: {color11};
  z-index: 5 !important /* fixes a bug where cursor is hidden in code blocks */
}}
