@import url("/home/andy/.cache/wal/colors-waybar.css");

*{
    font-family: MesloLGS Nerd Font;
}

window {
    border: 1px solid @color1;
    background-color: @background;
}

#input {
    margin-bottom: 15px;
    padding:3px;
    border-radius: 5px;
    border: 1px solid @color1;
    color: @foreground;
    background-color: @background;
}

#outer-box {
    margin: 5px;
    padding:15px;
    background-color: @background;
}

#text {
    padding: 5px;
    color: @foreground;
}

#entry:selected {
    background-color: @color1;
}

