@import url("/home/andy/.cache/wal/colors-waybar.css");

* {
    font-family: MesloLGS Nerd Font, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: alpha(@background, 0.8);
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
    /*border-radius: 10px;*/
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

tooltip {
    background-color: alpha(@background, 0.8);
    border: 1px solid @color1;
   /* border-radius: 10px; */
}

tooltip label {
    color: @foreground;
}

#workspaces button {
    padding: 0 5px;
    margin: 5px 5px;
    color: @foreground;
    border: none;
}

#workspaces label {
    padding: 0 5px;
}

#workspaces button.current_output {
    color: @foreground;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    color: @color1;
    background: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.focused,
#workspaces button.visible,
#workspaces button.active {
    color: @background;
    background: @foreground;
    border-radius: 5px;
}

#workspaces button.urgent {
    color: @color2;
}

#mode {
    border-bottom: 3px solid @foreground;
}

widget > label {
    color: @foreground;
    background-color: transparent;
    padding: 0 5px;
}

#workspaces {
    margin: 0 4px;
}

#custom-weather {
    padding-left: 0px;
}

.modules-left {
    margin-left: 5px;
}

.modules-right {
    margin-right: 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
    /*border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;*/
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

